body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0F4F9;
    color: black;
    font-size: 22px;
  }
  
  .container {
    padding: 35px;
    margin: 20px;
    border-radius: 5px;
  }
  .dark-mode {
    background-color: black;
    color: #F0F4F9;
  }

  .dark-mode .container {
    background-color: rgb(19, 19, 19);
  }

  .light-mode {
    background-color: #F0F4F9;
    color: black;
  }

  .light-mode .container {
    background-color: #FFFFFF;
  }

  .cream {
    background-color: #ffeee0;
    color: #24005E;
  }

  .cream .container {
    background-color: #FFF7F0;
  }
  
.title {                                                       
  text-align: center;                         
  text-transform: capitalize;                                           
}

   /* Style the navbar */
#navbar {
    width:100%;
    background-color: #333;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #F0F4F9;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /* Page content */
  .content {
    padding: 0px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 40px;
  } 

  
  #navbar a:hover {
    background-color: #F0F4F9;
    color: black;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
  #navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  #navbar li {
    float: left;
  }
  

  input[type="range"] {
    width: 80%;
    height: 15px; 
    margin-top: 20px;
    -webkit-appearance: none;
    appearance: none;
    background: #F0F4F9; 
    border-radius: 10px; 
    outline: none; 
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: #39AD7D;
    border-radius: 50%; 
    cursor: pointer;
  }

  input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #39AD7D;
    border-radius: 50%;
    cursor: pointer;
  }


